<div class="container">
  <div class="col-12">
    <p-card styleClass="shadow-3 m-5 text-indigo-800" header="Produtos">

      <p-table #productsTable [value]="products" styleClass="p-datatable-striped p-datatable-sm" [rows]="10" [paginator]="true" [responsive]="true"
        [globalFilterFields]="['name', 'amount']" [tableStyle]="{'min-width': '50rem'}" [(selection)]="productSelected"
        [rowHover]="true" [showCurrentPageReport]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} produtos."
        [showCurrentPageReport]="true">


      <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="tipo" style="width:10%">
              Tipo
              <p-sortIcon field="tipo"></p-sortIcon>
            </th>
            <th pSortableColumn="seguradora" style="width:10%">
              Seguradora
              <p-sortIcon field="seguradora"></p-sortIcon>
            </th>

            <th pSortableColumn="coCorretagem" style="width:10%">
              Co-corretagem
              <p-sortIcon field="coCorretagem"></p-sortIcon>
            </th>

            <th pSortableColumn="dataVigencia" style="width:10%">
                  Data Vigência
                  <p-sortIcon field="dataVigencia"></p-sortIcon>
            </th>

            <th pSortableColumn="valorPremioLiquido" style="width:10%">
                  Prêmio Líquido (R$)
                  <p-sortIcon field="valorPremioLiquido"></p-sortIcon>
            </th>

            <th pSortableColumn="comissaoVendaPorcentagem" style="width:10%">
                  Comissão Venda (%)
                  <p-sortIcon field="comissaoVendaPorcentagem"></p-sortIcon>
            </th>

            <th pSortableColumn="valorComissaoReceber" style="width:10%">
                  Comissão a Receber (R$)
                  <p-sortIcon field="valorComissaoReceber"></p-sortIcon>
            </th>

            <th pSortableColumn="agenciamentoPorcentagem" style="width:10%">
                  Agenciamento (%)
                  <p-sortIcon field="agenciamentoPorcentagem"></p-sortIcon>
            </th>


            <th pSortableColumn="nomeCliente" style="width:10%">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Cliente
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="nomeCliente"></p-sortIcon>
                  <p-columnFilter type="text" field="nomeCliente" display="menu" matchMode="contains"
                    [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                  </p-columnFilter>
                </div>
              </div>
            </th>

            <th style="width:10%">Ações</th>


          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product?.tipo }}</td>
            <td>{{ product?.seguradora }}</td>
            <td>{{ product?.coCorretagem }}</td>
            <td>{{ product?.dataVigencia }}</td>
            <td>{{ product?.valorPremioLiquido | currency: "BRL" }}</td>
            <td>{{ product?.comissaoVendaPorcentagem }}</td>
            <td>{{ product?.valorComissaoReceber | currency: "BRL" }}</td>
            <td>{{ product?.agenciamentoPorcentagem }}</td>
            <td>{{ product?.nomeCliente }}</td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-button-text"
                pTooltip="Editar Produto" tooltipPosition="top">
              </button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"
                pTooltip="Remover Produto" tooltipPosition="top" >
              </button>
            </td>
          </tr>

        </ng-template>

      </p-table>

    </p-card>
  </div>
</div>
